.loginheading{
    color: rgb(18, 49, 227);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 420px;
    background: rgba(221, 37, 37, 0.208);
    border-radius: 10px;
    padding: 20px;
   
}

.logo {
    font-size: 65px;
    background: rgba(94, 91, 91, 0.208);
    
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Pacifico', cursive;
  }

h3{
    color: #ef3b3b;
    font-size: 15px;
}
h4{
    font-size: 15px;
}
input{
    width:80%;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(126, 120, 120, 0.5);
    color: #fff;
    font-size: 16px;
}
button{
    padding: 20px;
    color:'white';
    background: #df4242;
    border: none;
    color: rgb(168, 76, 76);
    border-radius: 7px;
    cursor: pointer;
}
.signup{
    text-decoration: none;
    color: rgb(219, 148, 148);
    font-size: 15px;
}
.signup:hover{
    color: rgb(8, 8, 8);
    text-decoration: underline;
    cursor: pointer;
}